<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.namakshamak">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NamakShamak">
        <activity android:name=".Search"></activity>
        <activity android:name=".register"></activity>
        <activity android:name=".detailed" />
        <activity android:name=".cat_paneer" />
        <activity android:name=".cat_sub" />
        <activity android:name=".cat_salaa" />
        <activity android:name=".cat_noodles" />
        <activity android:name=".cat_burr" />
        <activity android:name=".Home" />
        <activity android:name=".Login" />
        <activity android:name=".Onboard" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service android:name=".PushNotifications">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE"/>
            </intent-filter>
        </service>
        
    </application>

</manifest>